table{
    border-collapse: collapse ;
    background-color: brown;
    margin:10px 50px;
    width:50%;
    text-align: center;
}

thead td{
    background-color: #32d7c9;
    font-weight:bolder
}
td{
    border: solid black 2px;
    background-color: greenyellow;
    color: black;
}

body{
    margin-top:10px;
    text-align: center;
}

button{
    width: 100px;
    border-radius: 20px;
}