

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {{ url_for('static',filename='css/style.css') }}">
    <title>GPA Caculator</title>
</head>
<body>
    <header>
        <div class="logo">
            <i class="fas fa-graduation-cap"></i> AutoGPA
        </div>
        <nav>
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('calc') }} class="active">Calculator</a>
        </nav>
        <div class="menu-toggle" id="menuToggle">
            <i class="fas fa-bars"></i>
        </div>
</header>
</body>
</html>